.container {
  width: 915px;
  margin: 0 auto;
}

#header_sign_out {
  margin-top: 0.9em;
}

#flash_message {
  padding-top: 0;
  margin-bottom: 0;
}

#header {
  margin-bottom: 0;
}

.yao {
  height: 1em;
  width: 100%;
  display: block;
  background-color: black;
}
