@import 'application.css';

body {
  background-image: url('background.jpg');
  background-repeat: repeat;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.row{
  vertical-align: middle;
}
