@import 'application.css';

body {
  background-image: url('homepage_background.jpg');
  background-repeat: no-repeat;
  background-color: #000f0f;
  background-position: left top;
  display: table;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.row{
  vertical-align: middle;
}
